
#video-container {
    position: relative;
    margin: auto;
    width: 100%;
}

video {
    background: #dee;
}

#localVideo {
    position: absolute;
    top: 0;
    right: 0;
    width: 225px;
    z-index: 10;
    background: #333;
}

#remoteVideo {
    width: 100%;

}

#action-buttons {
    margin: auto;
    text-align: center;
}

.hidden-first {
    display: none;
}